body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
}

body,
html {
    line-height: 1.8em;
    color: #00c5cc;
    background-color: #0c1d24;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
}

html {
    scroll-behavior: smooth;
}

::-moz-selection {
    color: #f2f2f2;
    background: #cc0063;
}

::selection {
    color: #f2f2f2;
    background: #cc0063;
}

div {
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
}

.darkDiv,
.lightDiv {
    width: 100%;
}

.darkDiv {
    background-color: #0c1d24;
    color: #f2f2f2;
}

.lightDiv {
    background-color: #f2f2f2;
    color: #0c1d24;
}

.hrDark,
.hrLight {
    width: 33%;
    border-radius: 2px;
    margin-left: 33%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 2%;
}

.hrDark {
    border-top: 5px solid #cc0063;
}

.hrLight {
    border-top: 5px solid #0c1d24;
}

.spanPad {
    margin-top: 20% !important;
}

.content {
    padding: 2%;
    padding-bottom: 4%;
}

.minimenuIcon {
    border: none;
    background-color: transparent;
    color: #f2f2f2;
    font-size: 1.8em;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
}

.minimenuIcon:focus {
    outline: none !important;
}

.navbar,
.navbar-mini {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #cc0063;
    color: #f2f2f2;
    z-index: 998 !important;
}

.nav-mini {
    z-index: 999 !important;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav {
    float: right;
}

li a,
.name {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav:active {
    background-color: #f2f2f2;
    color: #cc0063;
}

.nav:hover {
    background-color: #f2f2f2;
    color: #cc0063;
}

.nav-button {
    color: #f2f2f2 !important;
    text-decoration: none !important;
    margin-bottom: 1em;
}

.nav-button:visited {
    text-decoration: none !important;
}

.nav-button:hover {
    background-color: #cc0063 !important;
    color: #f2f2f2 !important;
}

.name {
    color: #f2f2f2;
    float: left !important;
    margin-left: 0.8em;
}

.copy {
    /* position: fixed !important; */
    height: 5%;
    width: 100%;
    text-align: center;
    background-color: #cc0063;
    color: #f2f2f2;
    margin-top: 2% !important;
    margin-bottom: 0px;
    bottom: 0px !important;
}

.copyText {
    margin-top: 1% !important;
    padding-top: 0.5%;
}

.arrowUp {
    position: fixed;
    bottom: 1%;
    right: 1%;
    background-color: transparent;
}

.arrow {
    color: #0c1d24;
}

.arrow:hover {
    cursor: pointer;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.logo {
    width: 75%;
    height: auto;
    margin-left: 25%;
    margin-bottom: 5%;
    margin-top: 0% !important;
    padding-top: 0%;
}

h1 {
    padding-top: 5%;
    width: 100%;
    text-align: center;
}

.vertical-pad {
    margin-top: 2%;
}

.textCenter {
    width: 70%;
    height: auto;
    margin-right: 25%;
}

#title {
    padding-top: 5% !important;
    height: 100%;
}

.titleTextBack {
    background-color: #cc0063;
    color: #0c1d24;
    height: 70%;
    width: 30%;
    margin-top: 8%;
    margin-bottom: 22%;
    margin-right: 20%;
    margin-left: 50%;
    z-index: 1 !important;
}

.titlePhotoDiv {
    margin-left: 20%;
    margin-top: 15%;
    z-index: 999 !important;
}

.titlePhoto {
    width: 60%;
    height: auto;
}


/* ------------------ MEDIA -------------- */

@media screen and (max-width: 469px) {
    .navbar {
        display: none;
    }
    .navbar-mini {
        display: block;
    }
    .nav-mini {
        display: none;
    }
    .skillsCont {
        width: 50%;
    }
}

@media screen and (min-width: 470px) {
    .navbar {
        display: block;
    }
    .navbar-mini {
        display: none;
    }
    .nav-mini {
        display: none;
    }
}